.container {
  .header {
    display: flex;
    justify-content: space-between;

    h3 {
      margin: 0;
    }

    // .small-btn {
    //   // Any button-specific overrides
    // }
  }

  .table-list {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: flex-start;

    .table-card {
      background-color: #ffffff;
      border-radius: 8px;
      padding: 16px;
      width: 100%;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      transition: transform 0.2s, box-shadow 0.2s;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &:hover {
        transform: translateY(-4px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
      }

      .card-title {
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 8px;
      }

      .card-date {
        font-size: 14px;
        color: #666;
      }
    }
  }

  .add-btn-wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }

  .dynamic-fields {
    .field-row {
      display: flex;
      gap: 10px;
      padding: 10px;

      input {
        flex: 1;

        &[formControlName="apiEndpoint"] {
          width: 92.8%;
        }

        &[formControlName="tableName"] {
          width: 93%;
        }
      }

    //   .add-btn {
    //     // Add button styling
    //   }
    }
  }

  .buttons-div {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;

    button {
      min-width: 140px;
    }
  }

  .p-10 {
    padding: 10px;
  }
}